[project]
	description = QGroundControl Ground Control Station
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/John Tapsell (johnflux)
[access "refs/for/refs/*"]
	read = group user/John Tapsell (johnflux)
	push = group user/John Tapsell (johnflux)
	label-Code-Review = -2..+2 group user/John Tapsell (johnflux)
	label-Verified = -1..+1 group user/John Tapsell (johnflux)
	rebase = group user/John Tapsell (johnflux)
	removeReviewer = group user/John Tapsell (johnflux)
	submit = group user/John Tapsell (johnflux)
[access "refs/heads/*"]
	read = group user/John Tapsell (johnflux)
	create = group user/John Tapsell (johnflux)
	push = +force group user/John Tapsell (johnflux)
	pushMerge = group user/John Tapsell (johnflux)
[access "refs/tags/*"]
	push = +force group user/John Tapsell (johnflux)
	pushTag = group user/John Tapsell (johnflux)
	pushSignedTag = group user/John Tapsell (johnflux)
